*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --primary: linear-gradient(to left,rgb(0, 4, 255),rgb(255, 0, 179));
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

nav{
    position: sticky;
    justify-content: space-between;
    display: flex;
    top: -3px;
    width: 100%;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    padding: 1rem 1rem;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
    gap: 3rem;
    backdrop-filter: blur(8px);
    border: solid 3px blue;
}
#menu{
    background: var(--primary);
    background-clip: text;
    color: transparent;
    display: none;
}
/*Logo*/
.logo{
    display: flex;
    text-wrap: nowrap;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    font-size: 24px;
    transition: 0.3s ease-in-out;
}
.logo a{
    margin-top: 10px;
    margin-left: 10px;
}
.logo img{
    height: 50px;
    width: 50px;
}
.logo:hover{
    transform: scale(1.1);
}
.links{
    display: flex;
    gap: 2rem;
}

li a{
    position: relative;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    font-weight: 300;
}

li a::before{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out ;
    background: var(--primary);
}

li a:hover::before{
    width: 100%;
}

/*Navbar contact me button*/
.contact-btn{
    border: 2px solid blue;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1.5rem 1em;
    border: 2px solid aqua;

    
}
.contact-btn:hover{
    transform: scale(1.2);
    background: var(--primary);
    color: white;
}

/*Home*/
section{
    min-height: 100vh;
    padding: 5% 15%;
    margin-top:15px ;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    color: black;
}
#home img{
    width: 18vw;
    border-radius: 50%;
    margin-top: 3em;
    grid-area: 1/1;

}


.image{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}
.image i{
    font-size: 50px;
}

.image .bootstrap{
    grid-area: 1/1;
    margin-top: -150px;
    margin-right: 260px;
    color: purple;
    animation: bouncing 5s ease-in-out infinite;
}

.image .css{
    grid-area: 1/1;
    margin-top: 150px;
    margin-right: 252px;
    color: blue;
    animation: bouncing 5s ease-in-out infinite;

}

.image .wordpress{
    grid-area: 1/1;
    margin-top: 170px;
    margin-left: 232px;
    color: blue;
    animation: bouncing 5s ease-in-out infinite;

}
.image .html{
    grid-area: 1/1;
    margin-top: -150px;
    margin-left: 170px;
    color: orangered;
    animation: bouncing 5s ease-in-out infinite;

}
.image .django{
    grid-area: 1/1;
    
    animation: bouncing 5s ease-in-out infinite;
    width: 40px;
    height: 50px;
    border: radius 50%;
}


@keyframes bouncing {
    0%{
        transform: translate(18px,28px);
    }
    50%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(18px,28px);
    }
}


.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-width: 500px;

}

.info-box h1{
    font-size: 2.8em;
    font-weight: 500;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    
}

.info-box h3 span{
    font-size: 1.6em;
    font-weight: 500;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    
}

.info-box h3{
    font-size: 1.3em;
    font-weight: 400;
}

.btn-box{
    display: flex;
    gap: 1em;
}

/*About me button*/
.btn-box .btn:nth-of-type(1){
    background: var(--primary);
    color: white;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    font-size: 1rem;
    padding: 1.5rem 1em;
    border: 2px solid aqua;

    
}
.btn-box .btn:nth-of-type(1):hover{
    background: var(--primary);
    background-clip: text;
    color: transparent;
    transform: scale(1.2);

}
/*Hire me button*/
.btn-box .btn:nth-of-type(2){
    background: var(--primary);
    background-clip: text;
    color: transparent;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    font-size: 1rem;
    padding: 1.5rem 1em;
    border: 2px solid aqua;
    
}
.btn-box .btn:nth-of-type(2):hover{
    background: var(--primary);
    color: white;
    transform: scale(1.2);

}

::-webkit-scrollbar{
    width: 20px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background: var(--primary);
}

/*About*/
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin-top: 12px;
}

.about-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}
.about-box h1{
    background: var(--primary);
    background-clip: text;
    color: transparent;
    
}
.about-info h1{
    margin-top: 1.5em;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-box h1{
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills{
    display: flex;
    text-align: left;
}

.skills ul {
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    align-items: baseline;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    
}

.skills ul li{
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 1em;
    font-size: 1.3em;
    transition: 0.3s ease-in-out;
}

.skills ul li:hover{
    transform: translate(10px);
    color: blue;
}

.skills ul li i{
    font-size: 1.2em;
    margin-left: 1em;
}

#about img{
    width: 30vw;
    border-radius: 1em;
    margin-top: 12px;

}

/*Services*/
.header{
    text-align: center;
    font-size: 5em;
    margin: 0.5em 0;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    
}
.box h1{
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    
}
.serveces-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:2em;

}

.box{
    border: 3px solid blue;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}
.box:hover{
    border: 3px solid rgb(0, 255, 255);
}

.box img{
    min-width: 25px;
    border-radius: 0.5em;
}

form{
    margin: 1em;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background: var(--primary);
    border-radius: 5em;
}

form .input-box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
}

form input{
    border-radius: 0.5em;
    border: none;
    outline: none;
    padding: 1em 5em;
    font-size: 1.3em;
}

form textarea{
    width: 70vh;
    height: 30vh;
    border-radius: 0.5em;
    border: none;
    outline: none;
    padding: 1em 5em;
    font-size: 1.3em;
}

form input:focus{
    background: aqua;
}

form textarea:focus{
    background: aqua;
}

form .btn{
    border: 2px solid blue;
    background: white;
    color: blue;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1.5rem 1em;

    
}
form .btn:hover{
    transform: scale(1.2);
    background: aqua;
    color: blue;
    border: 2px solid aqua;

}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10em;
    bottom: 0;
    width: 100%;
    padding: 5em 15%;
    border: 2px solid blue;
}

.col-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.col-box{
    display: flex;
    align-items: center;
    gap: 1em;
}

.col-box i{
    font-size: 2m;
}

.col-box span{
    font-size: 1em;
}

.col-right{
    display: flex;
    gap: 1em;
    max-width: 500px;
}

.col-right span{
    font-size: 1em;
}


.social-media-icons{
    display: flex;
    gap: 2rem;

}

.social-media-icons i{
    font-size: 2rem;
    transition: 0.2s ease-in-out;
}

.social-media-icons i:hover{
    transform: scale(1.1);
}




@media (max-width:968px) {
    section{
        padding: 8em 15%;
    }
    nav .contact-btn{
        display: none;
    }
    #menu{
        display: block;
        margin-right:2px;
        margin-top:10px;
    }
    .links{
        position: absolute;
        top: 100%;
        width: 70%;
        padding: 1em 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--primary);
        color: white;
        display: none;
    }
    .links a{
        margin: 1em;
        font-size: 1em;
        display: block;
        color: white;

    }
    .links.active{
        display: block;
    }
    #home h1{
        font-size: 4em;
    }
    #home h3{
        font-size: 2em;
    }
    #home img{
        width: 24vw;
    }

    #about{
        flex-direction: column;
    }
    #about img{
        width: 32vw;
    }
    #about h1{
        font-size: 3em;
        
    }
    #about ul{
        font-size: 1em;
    }
    #contact textarea{
        width: 60vw;
    }
    .projects-container{
       width:100vw;
        
    }
    .projects-box{
        width:100%;
        margin-right:2em;
    }
    #contact form{
        width: 80vw;
    }
     #projects{
                margin-right:2em;

    }
}

@media (max-width:768px) {
    
    #home h1{
        font-size: 2.5em;
    }
    #home h3{
        font-size: 1.5em;
    }
    #home img{
        width: 32vw;
    }
    #about .about-info{
        padding: 1em;
    }
    #about .skills{
        gap: 1em;
    }
    #services .header{
        font-size: 2em;
    }
    #projects .projects-header{
        font-size: 2em;
    }
    .box h1{
        font-size: 1em;
    }
    .projects-container .projects-box h1{
        font-size: 1em;
    }
   
    #contact .header{
        font-size: 1em;
    }

    #contact input{
        padding: 0.5em;
    }
    #contact textarea{
        width: 40vw;
        font-size: 1em;
        padding: 1em 2em;

    }
    form{
        margin: 1em;
        padding: 1em;
        gap: 1em;
        border-radius: 2em;
    }
    form input{
        border-radius: 0.5em;
        padding: 1em 2em;
        font-size: 0.8em;
    }
    footer{
        flex-direction: column;
        gap: 3em;
        align-items: baseline;
    }
    .projects-container{
       width:100vw;
                margin-right:2em;

        
    }
    .projects-box{
        width:100%;
    }
    #contact form{
        width: 100%;
    }
    #projects{
                margin-right:2em;

    }
}








/*Services*/
.projects-header{
    text-align: center;
    font-size: 5em;
    margin: 0.5em 0;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    
}
.projects-box h1{
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0;
    background: var(--primary);
    background-clip: text;
    color: transparent;
    
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap:2em;

}

.projects-box{
    border: 3px solid blue;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}
.projects-box:hover{
    border: 3px solid rgb(0, 255, 255);
}

.projects-box img{
    min-width: 25px;
    height: 42vh;
    border-radius: 0.5em;
}
